body{
    background-color: aqua;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: green;

}
ul{
    display: flex;
    list-style: none;
    gap: 5px;
    margin: 6px;
}